@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--pastel-light-blue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --purple-color: #A64AC9;
  --purple-color2: #eecdfb;
  --blue-purple-color: #473890;
  --blue-purple-color2: #d7cffc;
  --light-gray: #E5E9E7;
  --testing-light-gray: #E9E6E6;
  --light-blue: #C8EFF9;
  --pastel-light-blue: #C1C8E4;
  --off-black: #28282B;
}

.dining-image {
  width: 9rem;
  height: 9rem;
}

.find-resturants-button {
  width: 15rem;
  padding: 0.8rem;
  margin: 2rem auto 0 auto;
  font-size: large;
  cursor: pointer;
  /* background-color: rgba(0, 0, 0, 0.882); */
  background-color: #28282B;
  color: white;
  border-radius: 10px;
  border: none;
}

.find-resturants-button:hover {
  background-color: #28282bee;
  transform: translateY(-1px);
  color: orange;
}


.signout-btn {
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  font-weight: bold;
  background-color: orange;
  color: var(--off-black);
  border-radius: 10px;
  border: 2px solid white;
}

div.drag-indicator {
  width: 100%;
  height: 2px;
  background-color: orange;
  margin-top: 3px;
  margin-bottom: 3px;
}

.feature-text {
  padding: 20px;
  /* background: rgb(74, 146, 105); */
  border-radius: 5px;
  transition: 0.4s all;
  margin-top: 20px;
  margin-bottom: 20px;
}

.feature-text:hover {
  transition: 0.4s all;
  cursor: pointer;
  transform: scale(0.98);
}

.white-container {
  width: fit-content; 
  height: 95%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.underlined {
  position: relative;
}
.underlined:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 7px;
  width: 100%;
  border: solid 4px orange;
  border-color: orange transparent transparent transparent;
  border-radius: 50%;
}
